/*	========== GERAL ==========	*/

body {
	margin: 0;
	font-family: 'arial';
}

.container {
	max-width: 1152px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/*	========== CABEÇALHO ==========	*/
header {
	background: #24388b;
}